[Unit]
Description=example
[Timer]
OnCalendar=06:00:00
OnCalendar=07:00:00
OnCalendar=08:00:00
OnCalendar=09:00:00
OnCalendar=10:00:00
OnCalendar=11:00:00
OnCalendar=12:00:00
OnCalendar=13:00:00
OnCalendar=14:00:00
OnCalendar=15:00:00
OnCalendar=16:00:00
OnCalendar=17:00:00
OnCalendar=18:00:00
OnCalendar=19:00:00
OnCalendar=20:00:00
Persistent=true
AccuracySec=60sec

[Install]
WantedBy=timers.target

